networks:
  oauthex:

services:
  oauthex-postgres:
    image: postgres:14
    container_name: oauthex-postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    networks:
      - oauthex